Question 1: Create a dictionary of student names and their ages

In [1]:
student_records={"Hari Haran":21,
                 "venkat":30,
                 "Ashok":40,
                 "Ram":35
                }
student_records

{'Hari Haran': 21, 'venkat': 30, 'Ashok': 40, 'Ram': 35}

 Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

In [6]:
dict2={'a': 1, 'b': 2, 'c': 3}
dict2['d']=4
dict2

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [9]:
dict2.update({"e":5})
dict2

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

In [11]:
dict3={'name': 'John', 'age': 25, 'city': 'New York'}
keys=dict3.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

In [13]:
dict4={'python': 3, 'java': 2, 'c++': 1}
values=dict4.values()
values

dict_values([3, 2, 1])

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

In [16]:
dict5={'name': 'Alice', 'age': 30, 'city': 'London'}
if dict5.get("age") is not None:
    print("Key exists in the dictionary")
else:
    print("No key doesnot exist")

Key exists in the dictionary

 Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

In [21]:
dict6={'a':1,"b":2,"temp":3,"c":4}
dict6.pop("temp")
dict6

{'a': 1, 'b': 2, 'c': 4}

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

In [28]:
dict7={'math': 85, 'science': 93, 'english': 78}
sum_of_values=sum(dict7.values())
sum_of_values

256

Question 8: Create a dictionary with squares of numbers 1 to 5

In [30]:
dict8={}
for key in range(1,6):
    dict8[key]=key**2
print(f"number as key and value is square if it: {dict8}")

number as key and value is square if it: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

 Question 9: Count frequency of each character in string "hello"

In [35]:
text="hello"
freq={}
for ch in text:
    if ch in freq:
        freq[ch]+=1
    else:
        freq[ch]=1
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [34]:
freq1={}
for ch in text:
    freq1[ch]=freq1.get(ch,0)+1
print(freq1)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

 Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

In [40]:
d1={'a': 1, 'b': 2} 
d2={'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

 Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [41]:
nested={'person': {'name': 'Alice', 'age': 25}}
print(nested)

{'person': {'name': 'Alice', 'age': 25}}

 Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [ ]:
name=nested["person"]['name']
print(f"Name of the person in the nested dictionary :{name}")

Name of the person in the nested dictionary :Alice

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [50]:
dict_list={'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
dict_list

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

 Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [51]:
dict_list["fruits"].append("orange")
dict_list

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

 Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [52]:
dict_tuple={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
dict_tuple

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

Question 16: Extract first coordinate from nested tuple

In [53]:
first=dict_tuple['coordinates'][0]
print(f"First coordinate: {first}")

First coordinate: 10

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [57]:
dict_set={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
dict_set

{'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

 Question 18: Add 'o' to vowels set in nested dictionary

In [59]:
dict_set['vowels'].add('o')
print("Added 'o' to vowels set ")
print(f"nested dictionary: {dict_set} ")
print(f"vowels :{dict_set["vowels"]}")

Added 'o' to vowels set
nested dictionary: {'vowels': {'i', 'a', 'e', 'o'}, 'consonants': {'c', 'd', 'b'}}
vowels :{'i', 'a', 'e', 'o'}

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [1]:
level_3_dict={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
level_3_dict

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

 Question 20: Access employee name from 3-level nested dictionary

In [3]:
employee_name=level_3_dict['company']['department']['employee']['name']
print(f"Employee name is :{employee_name}")

Employee name is :John

 Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [7]:
mixed_dict={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True,'list':[1,2,3,4],'tuple':(1,2,3,4),'dict':{'name':"hari","age":21}}
mixed_dict

{'int': 42,
 'float': 3.14,
 'str': 'hello',
 'bool': True,
 'list': [1, 2, 3, 4],
 'tuple': (1, 2, 3, 4),
 'dict': {'name': 'hari', 'age': 21}}

 Question 22: Check data type of each value in mixed dictionary

In [10]:
for key,value in mixed_dict.items():
    print(f"{key} : {type(value)}")

int : <class 'int'>
float : <class 'float'>
str : <class 'str'>
bool : <class 'bool'>
list : <class 'list'>
tuple : <class 'tuple'>
dict : <class 'dict'>

 Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

In [11]:
func_dict={'len':len,'str':str,'int':int}
func_dict

{'len': <function len(obj, /)>, 'str': str, 'int': int}

 Question 24: Apply each function to "123" using dictionary

In [16]:
string="123"
for key,value in func_dict.items():
    print(f"After applying ..{key}..function on {string} : {value(string)}")

After applying ..len..function on 123 : 3
After applying ..str..function on 123 : 123
After applying ..int..function on 123 : 123

 Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

In [23]:
lambda_dict={'double': lambda x: x*2, 'square': lambda x: x**2}
lambda_dict

{'double': <function __main__.<lambda>(x)>,
 'square': <function __main__.<lambda>(x)>}

Question 26: Apply each lambda function to 5

In [28]:
num=5
for key,value in lambda_dict.items():
    print(f"After applying lamda function  {key} : {value(5)}")

After applying lamda function  double : 10
After applying lamda function  square : 25

Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}

In [29]:
class_dict= {'list': list, 'dict': dict, 'set': set}
class_dict

{'list': list, 'dict': dict, 'set': set}

 Question 28: Create instances using class dictionary

In [31]:
for key,value in class_dict.items():
    print(f"intance of class {key} is {value()}")

intance of class list is []
intance of class dict is {}
intance of class set is set()

 Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}

In [32]:
none_dict={'a':None,'b':None,'c':None}
none_dict

{'a': None, 'b': None, 'c': None}

 Question 30: Replace all None values with 0

In [39]:
for key in none_dict.keys():
    if none_dict[key]==None:
        none_dict[key]=0
print(none_dict)

{'a': 0, 'b': 0, 'c': 0}

Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False}

In [35]:
boolean_dict={'is_active':True,'is_admin':False}
boolean_dict

{'is_active': True, 'is_admin': False}

Question 32: Count True values in boolean dictionary

In [40]:
n=0
for key in boolean_dict.keys():
    if boolean_dict[key]==True:
        n+=1
print(f"Count :{n}")

Count :1

 Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

In [41]:
complex_dict={'z1':3+4j,'z2':1+2j}
complex_dict

{'z1': (3+4j), 'z2': (1+2j)}

 Question 34: Find magnitude of each complex number

In [45]:
for key in complex_dict.keys():
    print(f"magnitude of {key} is:{abs(complex_dict[key])}")

magnitude of z1 is:5.0
magnitude of z2 is:2.23606797749979

Question 35: Create a 4-level nested dictionary

In [48]:
level_4_dict=level_3_dict={'company': {'department': {'employee': {'name': {'first name':'hari','last name':'cheluru'}}}}}
level_4_dict

{'company': {'department': {'employee': {'name': {'first name': 'hari',
     'last name': 'cheluru'}}}}}

 Question 36: Access deepest value in 4-level nested dictionary

In [51]:
first_name=level_4_dict['company']['department']['employee']['name']['first name']
first_name

'hari'

 Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

In [52]:
range_dict={'r1':range(3),'r2':range(5)}
range_dict

{'r1': range(0, 3), 'r2': range(0, 5)}

Question 38: Convert each range to list

In [53]:
for key,value in range_dict.items():
    print(f"conversion of range {key} to list : {list(value)}")

conversion of range r1 to list : [0, 1, 2]
conversion of range r2 to list : [0, 1, 2, 3, 4]

 Question 39: Create a dictionary with generator values

In [61]:
gen_dict={"g1":(x for x in range(3)),"g2":(x for x in range(5))}
gen_dict

{'g1': <generator object <genexpr> at 0x000001C68B55C880>,
 'g2': <generator object <genexpr> at 0x000001C68B55C640>}

 Question 40: Convert each generator to list

In [62]:
for key,value in gen_dict.items():
    print(f"conversion of generator {key} to list : {list(value)}")

conversion of generator g1 to list : [0, 1, 2]
conversion of generator g2 to list : [0, 1, 2, 3, 4]

Question 41: Create a dictionary with iterator values

In [63]:
iter_dict={"it1":iter([1,2,3]),"it2":iter([4,5,6])}
iter_dict

{'it1': <list_iterator at 0x1c68ae85930>,
 'it2': <list_iterator at 0x1c68ae84880>}

Question 42: Extract all elements from each iterator

In [64]:
for key,value in iter_dict.items():
    print(f"conversion of generator {key} to list : {list(value)}")

conversion of generator it1 to list : [1, 2, 3]
conversion of generator it2 to list : [4, 5, 6]

 Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [2]:
nested_list_dict={'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
nested_list_dict

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

 Question 44: Find sum of each nested list

In [4]:
for key,value in nested_list_dict.items():
    total=0
    for item in value:
        if isinstance(item,list):
            total+=sum(item)
        else:
            total+=item
    print(f"sum of list {key} is :{total}")

sum of list matrix is :10
sum of list vector is :18

Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [5]:
dict45={'config': {'db': {'host': 'localhost', 'port': 5432}}}
dict45

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

Question 46: Access database port from nested configuration

In [7]:
port=dict45['config']['db']['port']
print(f"Port of the database: {port}")

Port of the database: 5432

Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [8]:
nested_tuples={'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nested_tuples

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

Question 48: Extract first point coordinates

In [10]:
first_point_coordinates=nested_tuples['points'][0]
print(f"{first_point_coordinates}")

(1, 2)

 Question 49: Create a dictionary with nested sets: {'groups': {{1, 2, 3}, {4, 5, 6}}, 'categories': {{'a', 'b'}, {'c', 'd'}}}
  # we cant keep set in set because set only conatin hashable-->mutable type only

In [15]:
data = {
    'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
    'categories': {frozenset({'a', 'b'}), frozenset({'c', 'd'})}
}
data

{'groups': {frozenset({1, 2, 3}), frozenset({4, 5, 6})},
 'categories': {frozenset({'c', 'd'}), frozenset({'a', 'b'})}}

 Question 50: Find union of all nested sets

In [18]:
union_groups = set()
for key in data.keys():
    for s in data[key]:
        union_groups = union_groups.union(s)

    print(union_groups)
    union_groups=set()

{1, 2, 3, 4, 5, 6}
{'c', 'a', 'd', 'b'}