 Question 1: Create a list of first 10 square numbers

In [1]:
first_ten_numbers=[1,2,3,4,5,6,7,8,9,10]
final_list=[num**2 for num in first_ten_numbers]
print(f"list of first 10 square numbers :{final_list}")

list of first 10 square numbers :[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

 Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
first_ten_numbers=[1,2,3,4,5,6,7,8,9,10]
print("sum of all even numbers: ",end="")
print(sum([num for num in first_ten_numbers if num%2==0]))

sum of all even numbers: 30

 Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

In [10]:
duplicated_list=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print(f"cleaned list : {list(set(duplicated_list))}")

cleaned list : [1, 2, 3, 4, 5, 6, 7]

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

In [12]:
unsorted_list=[64, 34, 25, 12, 22, 11, 90]
unsorted_list.sort(reverse=True)
print(f"sorted in decending order : {unsorted_list}")

sorted in decending order : [90, 64, 34, 25, 22, 12, 11]

 Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [14]:
random_numbers=[15, 23, 31, 42, 56, 78, 91]

print(f"average of the numbers: {sum(random_numbers)//len(random_numbers)}")

average of the numbers: 48

 Question 6: Create a list of first 15 Fibonacci numbers

In [16]:
fibonacci=[0,1]
for i in range(13):
    fibonacci.append(fibonacci[i]+fibonacci[i+1])
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

 Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [6]:
numbers=[45, 67, 23, 89, 12, 34, 78]
maximum_number=max(numbers)
second_max=float("-inf")
for num in numbers:
    if second_max<num and num < maximum_number:
        second_max=num
print(f"second largest :{second_max}")

second largest :78

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
normal_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
normal_list.reverse()
print(normal_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]


 Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

In [13]:
list9=[1, 5, 2, 5, 3, 5, 4, 5, 6]
print(list9.count(5))

4

 Question 10: Create a list of prime numbers between 1 and 50

In [14]:
prime_list=[]
for i in range(2,51):
    count=0
    for j in range(2,i):
        if i%j==0:
            count+=1
    if count==0:
        prime_list.append(i)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

In [18]:
nested_List=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list=[]
for l in nested_List:
    flatten_list.extend(l)
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(sum(nested_List,[]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [20]:
list1=[1, 2, 3, 4, 5]
list2=[4, 5, 6, 7, 8]
for num in list1:
    if num in list2:
        print(num)

4
5

 Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [22]:
nested=[]
small_list=[]
for i in range(1,7):
    small_list.append(i)
    if len(small_list)==2:
        nested.append(small_list)
        small_list=[]
print(nested)

[[1, 2], [3, 4], [5, 6]]

 Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
main_list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_of_sublist=[sum(sub) for sub in main_list]
print(sum_of_sublist)

[6, 15, 24]

 Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for i in range(len(matrix)):
    for j in range(i + 1, len(matrix)):
        matrix[i][j], matrix[j][i] = matrix[j][i], matrix[i][j]
print(f"Transposed matrix: {matrix}")

Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [30]:
nested_array=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_each_sublist=[max(sub) for sub in nested_array]
max_each_sublist

[5, 9, 8]

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [31]:
matrix_3d = [[[1, 2], [3, 4]], 
             [[5, 6], [7, 8]]]

print(matrix_3d)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

 Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [32]:
total=0
for i in range(len(matrix_3d)):
    for j in range(len(matrix_3d[i])):
        total+=sum(matrix_3d[i][j])
print(total)

36

 Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
nested__list=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list=sum(nested__list,[])
even=[x for x in flatten_list if x%2==0]
even

[2, 4, 6, 8]

 Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

In [34]:
mixed_list=[1,"hello",3.14,True,[1,2,3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

 Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

In [37]:
string_list=["apple", "banana", "cherry", "date"]
string_len=[len(s) for s in string_list]
for i in range(len(string_list)):
    print(f"{string_list[i]} : {string_len[i]}")

apple : 5
banana : 6
cherry : 6
date : 4

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [38]:
list_of_tuples=[(1,'a'),(2,'b'),(3,'c')]
list_of_tuples

[(1, 'a'), (2, 'b'), (3, 'c')]

 Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

In [39]:
for tup in list_of_tuples:
    print(tup[0])

1
2
3

 Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [40]:
list_of_dictionaries=[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
list_of_dictionaries

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

 Question 25: Extract all 'name' values from list of dictionaries

In [41]:
for dic in list_of_dictionaries:
    print(dic["name"])

Alice
Bob

Question 26: Find the person with maximum age in list of dictionaries

In [43]:
max_age=0
for dic in list_of_dictionaries:
    if dic["age"]>max_age:
        max_age=dic["age"]
print(f"Maximum age: {max_age}")

Maximum age: 30

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [44]:
matrix_4d=[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
matrix_4d

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
 [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

Question 28: Find the maximum value in 4D list

In [48]:
flat=sum(sum(sum(matrix_4d,[]),[]),[])

print(f"maximum number: {max(flat)}")

maximum number: 16

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [49]:
list_of_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
list_of_sets

[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]



 Question 30: Find the union of all sets in list of sets

In [50]:
result = set().union(*list_of_sets)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

In [51]:
complex_numbers=[1+2j, 3+4j, 5+6j]
complex_numbers

[(1+2j), (3+4j), (5+6j)]



 Question 32: Find the magnitude of each complex number in list

In [56]:
magnitude=[abs(c) for c in complex_numbers]
magnitude

[2.23606797749979, 5.0, 7.810249675906654]

 Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

In [58]:
different_level_list=[1, [2, 3], [4, [5, 6]], 7]
different_level_list

[1, [2, 3], [4, [5, 6]], 7]


print("\nQuestion 35: Create a list of functions: [len, str, int, float]")

In [59]:
func_list = [len, str, int, float]
print(func_list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

Question 36: Apply each function in list to string "123"

In [60]:
results = [func("123") for func in func_list]
print(results)

[3, '123', 123, 123.0]

 Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

In [61]:
lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]
print(lambda_list)

[<function <lambda> at 0x000001A87D65DA80>, <function <lambda> at 0x000001A87D65D6C0>, <function <lambda> at 0x000001A87D65DE40>]

 Question 38: Apply each lambda function to 5

In [62]:
lambda_results = [f(5) for f in lambda_list]
print(lambda_results)

[10, 25, 6]

Question 39: Create a list of classes: [list, dict, set, tuple]

In [63]:
class_list = [list, dict, set, tuple]
print(class_list)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

 Question 40: Create instances of each class in list

In [64]:
instances = [cls() for cls in class_list]
print(instances)

[[], {}, set(), ()]

 Question 41: Create a list of None values: [None, None, None, None]

In [65]:
none_list=[None,None,None,None]
none_list

[None, None, None, None]

Question 42: Replace all None values with 0 in list

In [67]:
replaced_list=[0 for i in none_list]
replaced_list

[0, 0, 0, 0]

 Question 43: Create a list of boolean values: [True, False, True, False]

In [68]:
boolean_list=[True,False,True,False]
boolean_list

[True, False, True, False]

Question 44: Count True values in boolean list

In [69]:
total=boolean_list.count(True)
print(f"Total no of True: {total}")

Total no of True: 2

 Question 45: Create a list of ranges: [range(3), range(5), range(2)]

In [71]:
range_list=[range(3),range(5),range(2)]
range_list

[range(0, 3), range(0, 5), range(0, 2)]

 Question 46: Convert each range to list

In [74]:
range_to_list=[list(i) for i in range_list]
range_to_list

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

In [75]:
generator_list=[(x for x in range(3)),(x for x in range(5))]
generator_list

[<generator object <genexpr> at 0x000001A87CF6F340>,
 <generator object <genexpr> at 0x000001A87CF6D900>]

 Question 48: Convert each generator to list

In [76]:
generator_to_list=[list(i) for i in generator_list]
generator_to_list

[[0, 1, 2], [0, 1, 2, 3, 4]]

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

In [79]:
iterator_list=[iter([1,2,3]),iter([4,5,6])]
iterator_list

Question 50: Extract all elements from each iterator

In [81]:
iter_values = [list(it) for it in iterator_list]
print(iter_values)

[[1, 2, 3], [4, 5, 6]]