

 Question 1: Create a set of first 10 natural numbers

In [1]:
natural_numbers=set(range(1,11))
natural_numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

 Question 2: Add element 11 to set {1, 2, 3, 4, 5}

In [2]:
old_set={1,2,3,4,5}
old_set.add(11)
print(f"Added 11 to old set: {old_set}")

Added 11 to old set: {1, 2, 3, 4, 5, 11}

 Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}

In [6]:
set3={1,2,3,4,5,6}
set3.remove(3)
print(set3)

{1, 2, 4, 5, 6}

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

In [10]:
first_set={1,2,3,4,5}
second_set={4,5,6,7,8}
print(f"intersection of two sets: {first_set & second_set}")

intersection of two sets: {4, 5}

In [11]:
print(f"intersection of two sets: {first_set.intersection(second_set)}")

intersection of two sets: {4, 5}

 Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}

In [12]:
print(f"difference of two sets: {first_set.difference(second_set) }")

difference of two sets: {1, 2, 3}

In [14]:
print(f"difference of two sets: {first_set-second_set }")

difference of two sets: {1, 2, 3}

 Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}

In [17]:
check_set={1,2,3,4,6,7,8}
print(f"check 5 in the set: {5 in check_set}")

check 5 in the set: False

 Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}

In [18]:
alpha_set={'a', 'b', 'c', 'd', 'e'}
length=len(alpha_set)
print(length)

5

 Question 8: Create a set of vowels from string "hello world"

In [19]:
vowels = {'a', 'e', 'i', 'o', 'u'}
result = set()
for ch in "hello world":
    if ch in vowels:
        result.add(ch)
print(result)

{'o', 'e'}

 Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set

In [20]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print(set(lst))

{1, 2, 3, 4, 5, 6, 7}



 Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}

In [21]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5, 6}
print(set1.issubset(set2))

True

In [ ]:
password="Some@123123"
has_digit = False

for ch in password:
    if ch.isdigit():
        has_digit = True

if len(password)>=8  and password.isalnum()==False and password.lower() != password and has_digit:
    print("valid")
else:
    print("Not valid")

valid