

 Question 1: Create a tuple of first 10 natural numbers

In [1]:
natural_numbers=(1,2,3,4,5,6,7,8,9,10)
natural_numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

 Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
length=len(natural_numbers)
print(f"length of the tuple :{length}")

length of the tuple :10

 Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

In [4]:
alphabets=('a','b','c','d','e')
print(f"The third element in the tuple: {alphabets[2]}")

The third element in the tuple: c

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

In [5]:
random_tuple=(23,45,12,67,34,89,56)
maximum=max(random_tuple)
print(f"maximum value in the tuple :{maximum}")

maximum value in the tuple :89

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

In [6]:
numbers=(1, 5, 2, 5, 3, 5, 4, 5, 6)
print(f"No of times 5 in the tuple: {numbers.count(5)}")

No of times 5 in the tuple: 4

 Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

In [7]:
mixed_tuple=(12, 12.5, "hello", True)
mixed_tuple

(12, 12.5, 'hello', True)

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

In [8]:
langauge=('java', 'python', 'c++', 'javascript')
print(f"index of python in the tuple: {langauge.index("python")}")

index of python in the tuple: 1

 Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

In [10]:
ten_multiples=(10,20,30,40,50)
print(f"25 exits in tuple : {25 in ten_multiples}")

25 exits in tuple : False

Question 9: Create a tuple of first 5 even numbers

In [12]:
even_tuple1=(0,2,4,6,8)
even_tuple1

(0, 2, 4, 6, 8)

In [13]:
even=[]
for i in range(0,9,2):
    even.append(i)
even_tuple=tuple(even)
print(even_tuple)

(0, 2, 4, 6, 8)

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

In [15]:
numbers_tuple=(15,23,31,42,56,78)
avg=sum(numbers_tuple)/len(numbers_tuple)
print(f"Average of the tuple :{avg}")

Average of the tuple :40.833333333333336